@model IEnumerable<MyClass.Models.Slider>
@{
    ViewBag.Title = "Thùng Rác Slider";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header {
    <link href="~/Public/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section footer {
    <script src="~/Public/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">


    <!-- Main content -->
    <section class="content my-3">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <strong class="text-danger">TẤT CẢ SLIDER</strong>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="@Url.Action("Index","Slider")" class="btn btn-sm btn-info"><i class="fas fa-long-arrow-alt-left"></i>Trở Về Danh Sách</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @Html.Partial("Message")
                <table class="table table-bordered table-striped" id="myTable">
                    <thead>
                        <tr>
                            <th class="text-center" style="width:20px">#</th>
                            <th class="text-center" style="width:100px">Hình</th>
                            <th>
                                Tên Slider
                            </th>
                            <th>
                                Tên Link
                            </th>
                            <th>
                                Ngày Tạo
                            </th>
                            <th class="text-center" style="width:180px">Chức Năng</th>
                            <th class="text-center" style="width:20px">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" name="checkid" value="" /></td>
                                <td>
                                    <img src="~/Public/images/Slider/@item.Img" alt="TenHinh" class="img-fluid" />
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Link)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Create_At)
                                </td>
                                <td>
                                    <a href="@Url.Action("ReTrash","Slider",  new { id = item.Id })" class="btn btn-sm btn-primary"><i class="fas fa-undo"></i></a>
                                    <a href="@Url.Action("Delete","Slider", new { id = item.Id })" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></a>
                                </td>
                                <td>@item.Id</td>
                            </tr>
                        }
                    </tbody>


                </table>
            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

