@model MyClass.Models.Product

@{
    ViewBag.Title = "Cập Nhật Sản Phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Create_At)
    @Html.HiddenFor(model => model.Create_By)

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


        <!-- Main content -->
        <section class="content my-3">

            <!-- Default box -->
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <strong class="text-danger text-uppercase">CẬP NHẬT SẢN PHẨM</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-sm btn-warning" type="submit" name="create"><i class="fas fa-save"></i>Lưu[Cập Nhật]</button>
                            <a href="@Url.Action("Index","Product")" class="btn btn-sm btn-info"><i class="fas fa-long-arrow-alt-left"></i>Trở Về Danh Sách</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Tên Sản Phẩm <span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Hình Ảnh <span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.Img, new { htmlAttributes = new { @class = "form-control" } })
                                <input type="file" name="img" value="img" />
                                @Html.ValidationMessage("Err", "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Tên Loại Sản Phẩm <span class="text-danger">(*)</span></label>
                                @Html.DropDownListFor(model => model.Catid, (SelectList)ViewBag.ListProCat, "Tên Loại Sản Phẩm", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Catid, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Giá Sản Phẩm <span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Giá Khuyến Mãi <span class="text-danger">(*)</span></label>
                                @Html.EditorFor(model => model.Pricesale, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Pricesale, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Chi Tiết Sản Phẩm <span class="text-danger">(*)</span></label>
                                @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @rows = "3" })
                                @Html.ValidationMessageFor(model => model.Detail, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>Trạng Thái</label>
                                @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Text = "Không Xuất Bản", Value = "2" }, new SelectListItem { Text = "Xuất Bản", Value = "1" } }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}


